@font-face {
  font-family: Inria_Serif;
  src: url(/fonts/Inria_Serif/InriaSerif-LightItalic.ttf);
}

*{
  scroll-behavior: smooth;
  font-family: 'Inria Serif', serif, Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}
.body-small{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
main{
  background-color: var(--white-text-page);
 }
.main-inactive{
  background-color: #FFF;
}
:root{
  --grey: rgba(112, 124, 140, 0.7);
  --white-text-page: #F9FAF5;
  --margin-page: 0 35px;
  --price-size: 1rem bold;
  --jacket-title-size: 1.3rem;
  --jacket-text-size: 0.9375rem;
  --form-text: 1.0625em var(var(--grey));
  --size-text-header-footer: 1.375rem;
}
.active{
  text-decoration: underline;
}
.no-scroll{
  position: relative;
}
a{
  color: black;
}
h1, h2, h4, h5, h6{
  font-size: 2rem;
}

/* -----Header All Pages----- */
header{
  color: var(--white-text-page);
  width: 100%;
  position: fixed;
  z-index: 2;
}
.dark-header{
  background-color: #313131;
  text-align: right;
  display: block;
  padding: 5px;
}
.lower-header{
  height: 80px;
  position: relative;
  background-color: var(--grey);
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  width: 100%;
  }
nav a{
  color: var(--white-text-page);
  font-size: 1.7rem;
}
.logo{
  width: 140px;
  margin: 13px 0 13px 35px;
}
header label{
  float: right;
  padding: 22px 35px 22px 3px;
  font-size: 30px;
}
#hamburger-menu{
  display: none;
  position: absolute;
}
#hamburger-menu:checked ~ nav{
  margin-top: 80px;
  margin-right: -90px;
  padding: 40px 60px;
  font-size: 4rem;
  float: right;
  display: block;
}

/* -----Body Main Page----- */
.main-img{
  background-image: url(/pictures/Main-home1.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  box-sizing: border-box;
  box-shadow: 0px 10px 8px rgba(0,0,0,0.15);
  min-height: 336px;
  top: 28px;
  width: 100%;
  display: inline-block;
  margin: 40px 0px 10px 0px;
  position: relative;
  z-index: 0;
}
.main-img__content{
  color: var(--white-text-page);
  position: absolute;
  width: 20px;
  line-height: 38px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tlf-main-text{
  display: inline;
  margin: 30px;
  float: both;
  color: var(--grey);
  font-size: var(--size-text-header-footer);
  height: 150px;
  line-height: 40px;
  text-align: center;
  background-color: var(--white-text-page);
}

/* -----Jackets Main Page----- */
.horizontal-jackets__row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-x:none ;
  align-items: top;
  margin-top: 0px;
  padding: 0 20px;
  gap: 20px;
}
.horizontal-jackets__row::-webkit-scrollbar{
  width: 0px;
}
.horizontal-jackets__container{
 border: 0.5px solid var(--grey);
 border-width: 0.5px 0.5px 0 0.5px;
 border-radius: 2px;
 max-width: 214px;
 min-height: 374px;
 display: flex;
 flex-direction: column;
 gap: 2px;
}
.horizontal-jackets__container::active{
  width: 80vh;
  height: 50vh;
}
.jacket-img{
  max-width: 214px;
  max-height: 243px;
}
.jackets-title{
  font-size: var(--jacket-title-size);
  text-align: center;
  font-weight: bold;
}
.jackets-text{
  font-size: var(--jacket-text-size);
  text-align: center;
}
.circles{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
}
.dot{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(56, 92, 92);
}
.jackets-price{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.sale-price{
  text-decoration: line-through;
}

/* -----Body Text Main Page----- */
.home-text {
  margin: 30px 0;
}
.home-text__content{
  text-align: center;
  color: var(--grey);
  line-height: 33px;
  font-size: var(--size-text-header-footer);
}


/* -----Body Gender Main Page----- */
.gender{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 35px 0px;
}
.man, .women{
  box-shadow: 0px 10px 8px rgba(0,0,0,0.15);
  width: 100%;
  height:380px;
  background-position-x:center;
  position: relative;
  box-sizing: border-box;
  background-size: cover;
}
.man{
  background-image: url(/pictures/Man.jpg);
  background-position-y: top;
  margin-right: 15px;
  background-position: 50% 50%;
}
.women{
  background-image: url(/pictures/Women.jpg);
  margin-top: 15px;
}
.man__content, .women__content{
  color: var(--white-text-page);
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 38px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* -----Sign Up Main Page----- */
.sign-up{
  background-image: url(/pictures/subscribe.jpg);
  background-size: cover;
  background-position: 50% 60%;
  box-shadow: 0px 10px 8px rgba(0,0,0,0.15);
  width: 100%;
  min-height: 282px;
  margin: 30px 0px;
  position: relative;
}
.sign-up__content{
  text-align: center;
  line-height: 45px;
  position: absolute;
  color: var(--grey);
  margin-top: 20px;
  top:30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#email{
  padding: 4px 200px 4px 9px;
  border-radius: 15px;
  border-style: none;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}

/*----- Footer All Pages----- */
footer{
  background: var(--grey);
  box-shadow: 0px -8px 9px -8px rgba(112, 124, 140, 0.7);
  width: 100%;
  height: 80px;
  margin-top: 0px;
  font-size: var(--size-text-header-footer);
}
.footer-nav{
  margin: 15px 30px;
  line-height: 39px;
  float: right;
  clear: left;
}
footer nav a {
  font-size: 1.6rem;
}
.footer-icons{
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  margin: 50px 35px;
  float: bottom;
}
.footer-logo img{
  padding: 25px 0  0 35px;
}


/* -----About Page Small Version----- */
.about__content{
  display: none;
}
.about-main{
  background-image: url(/pictures/small_about.jpg);
  display: inline-block;
  width: 100%;
  height: 470px;
  margin-bottom: 15px;
  background-size: cover;
  background-position-x: left;
  background-position-y: bottom;
  box-shadow: 0px 7px 8px rgba(0,0,0,0.25);
}
.about-sm-quote, .about-sm-header_content{
  position: absolute;
  transform: translate(-50%, -50%);
  color: var(--white-text-page);
  font-size: 2rem;
}
.about-sm-header_content{
  top: 120px;
  left: 50%;
}
.about-sm-quote{
  width: 110px;
  top: 320px;
  left: 80%;
}
#about-sm-header{
  text-decoration: underline;
  margin-bottom: 7px;
}
.about-sm__content{
  width: 89%;
  margin: 0 auto 20px auto;
  padding: 10px 17px 40px 17px;
  font-size: var(--size-text-header-footer);
  color: var(--white-text-page);
  text-align: center;
  line-height: 138%;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
  border-radius: 3px;
  background-color: var(--grey);
}
.about-cta{
  margin-top: 30px;
} 

/*----- List of Jackets Page -----*/
.main-list__img{
  background-image: url(/pictures/small_special-page.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 356px;
  width: 100%;
  display: inline-block;
  margin: 80px 0px 20px 0px;
  position: relative;
}
.main-list__content{
  color:var(--white-text-page);
  position: absolute;
  top: 80%;
  left: 37%;
  transform: translate(-50%, -50%);
}
.list-jackets{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 0px;
  align-items: top;
  margin-top: 20px;
  padding: 0 35px;
}
/* -----Contact Page----- */
.h1-grey, .h2-grey{
  text-align: center;
  color: var(--grey);
}
.question{
  display: none;
}
.contact-flex{
  display: grid;
  place-items: center;
  margin-top: 100px;
  margin: 0 auto;
}
.map{
  width: 560px;
  align-items: center;
  margin: 0 auto;
  margin: 35px 0px;
}
.map img{
  width: 100%;
  max-height: 400px;
}
.h1-grey i{
  font-size: 1.6rem;
}

.contact-field{
  max-width: 550px;
}
.input-section{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input-section > *{
  flex: 1;
}
/* -----Contact Page and Checkout Page----- */
input, textarea{
  border: 1px solid black;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: var(--form-text);
}
label{
  margin-top: 10px;
  padding: 4px;
  font-size: 1.1rem;
  font-weight: bold;
}
/* -----Checkout Page----- */
.checkout-flex{
  display: grid;
  place-items: center;
}

.shipping-field, .payment-field{
  width: 500px;
  min-height: 439px;
  margin:15px 0px;
  padding: 15px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
}
.shipping-field{
  margin-top: 115px;
}

.order-section{
 display: grid;
 place-items: center;
 margin: 0 0 30px 0;
}
.order-field{
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 40px;
  align-items: center;
  max-height: 919px;
  width: 500px;
  max-width: 500px;
  margin: 15px 0;
  padding: 15px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
}

.checkout-img{
  padding: 10px;
  margin-top: 10px;
  width: 200px;
  height: 200px;
  border: 1px rgba(128, 128, 128, 0.23) solid;
}












/*----- Checkout Success Page -----*/
.success{
  position: relative;
  top:100px;
}
.success__circle{
  background-image: url(/pictures/Checkout-scs.png);
  margin: 0 auto;
  width: 131px;
  height: 131px;
}
.success__content{
  text-align: center;
}
.success-line-top{
  display: none;
}
.finished-order{
  margin: 105px 35px 30px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.table__title{
  font: 1.4rem bold;
  border: 2px solid grey;
  padding: 10px;
}
.table__content{
  width: 160px;
  border: 2px solid grey;
  padding: 20px;
}
.order__content{
  display: grid;
  float: right;
  grid-template-columns: repeat(3,110px);
  grid-template-rows: 40px 150px;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  border: 1px solid var(--grey);
}
#success-button{
  text-align: center;
  margin-bottom: 30px;
}


/*----- Jackets Special Page -----*/
.popup{
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  min-width: 280px;
  max-height: 800px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #FFF;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5)
}
.popup:target{
  opacity: 1;
  visibility: visible;
}
.popup__img{
  width: 100%;
  max-height: 332px;
  clear: both;
  background-color: #F2F2F2;
  background: linear-gradient(268.62deg, rgba(102, 126, 76, 0.17) 0.97%, rgba(102, 126, 76, 0) 102.64%); 
}
.popup p{
  margin-top: 3px;
}
.popup__price{
  font-size: 1.4rem;
  font-weight: bold;
}
.popup__cta{
  align-items: center;
  line-height: 40px;
}
.popup__cta-buy, .popup__cta-add{
  display: block;
  margin: 10px 15px;
}
.close{
  position: absolute;
  top: 2.5%;
  left: 94%;
  transform: translate(-50%,-50%);
}
.close i{
  font-size: 2rem;
  color: #313131;
}

/* ----- My Bag Page----- */
.bag-main-flex{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.bag-main-flex > *{
  flex: 1;
}
.bag{
  text-align: center;
  max-width: 758px;
  max-height: 521px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.bag__frame{
  display: flex;
  flex-direction: column;
}
.bag i{
  font-size: large;
}
.bag__content{
  margin-top: 30px;
  line-height: 40px;
  
}
.bag__content::after{
  clear: both;
  content: "";
  display: table;
}
.bag img{
  float: left;
  max-height: 274px;
  max-width: 312px;
  border: 1px solid rgba(128, 128, 128, 0.444);
  margin: 35px 35px;
}

.order-summary{
  display: flex;
  flex-direction: column;
  line-height: 65px;
  font-size: 2rem;
  max-width: 293px;
  max-height: 618px;
  padding: 15px;
  margin: 60px 0px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25)
}
.order-summary__content{

}
























/* -----Media-Queries----- */
@media (max-width:839px){
  .dark-header{
    display: none;
  }
  header nav{
    display: none;
    top:45;
    background-color: var(--grey);
    z-index: 1000;
    right: 0px  
  }
  .main-img__content p .cta-discover{
    display: none;
  }
 /* -----Footer----- */
  .line{
    display: none;
  }
  footer{
    height: 200px;
   }
  .icons{
    display: none;
  }
  .pages{
    display: flex;
    flex-direction: column;
  }
  
  /* -----Contact Page----- */
  .contact-flex{
    margin: 50px 0 30px 0;
  }
  .cta-send{
    width: 100%;
  }
}


@media (min-width: 1131px){
  /* -----Header----- */
  .logo{
    background-image: url(/pictures/Logo-white.png);
    width: 150px;
    position: absolute;
    top: 30%;
    left: 48%;
    transform: translate(-50%, -50%);
    }

  nav a{
    font-size: 2rem;
    }
    

  /* -----Contact Page----- */
  .question{
    display: contents;
    margin-top: 20px;
  }
  .contact-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
  .contact-flex > *{
    flex: 1;
  }
  .map{
    max-width: 600px;
  }
  /* -----Checkout Page----- */
  .checkout-flex{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .checkout-flex > *{
    flex: 0;
  }
  
  .shipping-field, .payment-field{
    margin: 0;
    min-width: 350px;
    min-height: 439px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
  }
  .shipping-field{
    margin-left: 35px;
  }
  .payment-field{
    margin: 0 25px;
  }
  .order-section{
   margin-right: 35px;
  }
  .order-field{
    max-width: 300px;
  }
  /* -----Jackets Special Page----- */
  .popup p{
    font-size: 1.2rem;
  }

    }
  


@media (max-width: 1130px){

/* -----Contact Page----- */
 
}


@media (min-width:840px){

  /* ----Home page---- */
  i{
    font-size: small;
  }
  .cta-discover{
    padding: 2px 15px;
    font-size: 	var(--size-text-header-footer);
  }
  .relative-header{
    position: relative;
  }
  header label{
    display: none;
  }
  .lower-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
    height: 50px;
  }
  .main-header{
  }
  
  .icons a img{
    padding-right: 0px;
    margin-right: 32px;
    margin-top: 0px;
  }
  nav li,a{
    display: inline-block;
    font-size: var(--size-text-header-footer);
  }
  nav{
    margin-left:35px;
  }
  nav li{
    padding: 0 10px 0 0;
  }

  .main-img{
    min-height: 536px;
    top: 20px;
    margin: 115px 35px 30px 35px;
    width: calc(100% - 70px);
    box-shadow: none;
  }
  .main-img__content{
    text-align: center;
    width: 100%;
    top: 80%;
  }
   .horizontal-jackets__row{
    display: flex;
    margin-top: 18px;
    padding: 0 35px;
    gap: 74px;
    overflow: hidden;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }
  .tlf-main-text{
    display: none;
  }
  .home-text {
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15), -10px -10px 13px -13px rgba(112, 124, 140, 0.7);
  }
  .home-text__content{
    background-color: #F2F2F2 ;
    line-height: 33px;
  }
  .gender{
    flex-direction: row;
    justify-content: space-between;
    margin: 0 35px 10px 35px;
  }
  .man, .women{
    width: 760px;
    height:493px;
    margin-right: 15px;
    box-shadow: none;
  }
  .man{
    margin-right: 15px;
  }
  .women{
    margin-top: 0px;
  }
  .home-text {
    margin: 60px 0;
  }
  .home-text__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0px;
    line-height: 38px;
  }
  /* ----Footer---- */
  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-logo img{
    padding: 2px 25px 0 35px;
    float: left;
  }
  footer nav a {
    font-size: 1.8rem;
  }
  .footer-icons{
    gap: 10px;
  }
 
/* -----About Page----- */
.about-header{
  color: var(--white-text-page);
  width: 100%;
  position: fixed;
  position: absolute;
}
.about-main{
  background-image: url(/pictures/about.jpg);
  position: relative;
  margin-bottom: 0px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
}
.about__content{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color:rgba(112, 124, 140, 0.4);
  width: 50%;
  right: 0px;
  height: 100vh;
  position: absolute;
  font-size: var(--size-text-header-footer);
  color: var(--white-text-page);
  line-height: 30px;
  padding: 0 35px ;
}
.about-footer{
  background: var(--grey);
  position: absolute;
  bottom: 0px;
  box-shadow: -10px -10px 13px -13px rgba(112, 124, 140, 0.7);
  width: 100%;
  font-size: var(--size-text-header-footer);
} 
/* -----About Page Small Version----- */
.about-sm-quote, .about-sm, .about-sm-header_content{
  display: none;
}

/* ----List of jackets page---- */
  .main-list__img{
    background-image: url(/pictures/special-page.jpg);
    margin: 115px 35px 20px 35px;
    width: calc(100% - 70px);
    background-position-x: bottom;
    background-position-y: center;
  }

/*----- Jackets Special Page -----*/
.popup{
  display: flex;
  width: 70%;
  z-index: 1000;
  opacity: 0;
  position: fixed;
  top: 50%;
  min-height: 390px;
  overflow: hidden;
}
.popup__content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.popup__img{
  width: 50%;
  min-height: 420px;
  height: 100%;
  float: left;
}
.popup p{
  display: block;
  margin-top: 0px;
}
.popup__price {
  font-size: 1.6rem;
}
.popup__cta{
  position: bottom;
  display: flex;
  justify-content: space-around;
}
.popup__cta-buy, .popup__cta-add{
  display: inline;
  margin: 0px 0px;
}
.close{
  top:20px;
  left: 96%;
}

/*----- Checkout Page -----*/
.shipping-field{
  margin-top: 35px;
}

/*----- Checkout Success Page -----*/
.success{
  position: none;
  top:0px;
}
.success-line-top{
  display: block;
  margin: 30px 35px;
}
.finished-order{
  margin: 35px 35px;
  flex-direction: row;
}
.order{
  flex-direction: row;
}
.order__content{
  grid-template-columns: repeat(3,200px);
}

}












@media (min-width: 447px) and (max-width:714px){
   /*----- Home page -----*/
  .horizontal-jackets__row{
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 0 5px;
     } 
  /*----- List of jackets page -----*/
  .list-jackets{
   justify-content: space-around;
    }
  /*----- Checkout page -----*/
  .shipping-field, .payment-field{
    width: 400px;
  }
  .order-field{
    width: 400px;
  }
  /*----- Contact page -----*/
  .map{
    width: 500px;
  }
  .contact-field{
    max-width: 500px;
  }

}











@media (max-width:446px){
  /*----- Home page -----*/
  #hamburger-menu:checked ~ nav{
    margin: -5px;
    margin-right: -65px;
    padding: 20px 60px;
  }
  .gender .cta-discover{
    display: none;
  }
  .horizontal-jackets__row{
    grid-template-columns: 1fr;
    place-items: center;
     }
   #email{
    padding: 4px 100px 4px 9px;
     }
/*-----Footer -----*/
   .footer-icons{
    flex-direction: column;
    margin: 0px 35px;
    padding-top:23px ;
    gap: 8px;
  }
  .footer-logo img{
    display: none;
   }
 /*----- Checkout page -----*/
   .shipping-field, .payment-field{
    width: 300px;
  }
  .order-field{
    width: 300px;
  }

 /*----- List of jackets page -----*/
   .list-jackets{
    justify-content: space-around;
  }
  /*----- Contact page -----*/
  .map{
    max-width: 400px;
    margin: 25px 0px;
  }
  .contact-field{
    max-width: 400px;
  }
}




















/* -----Buttons&Lines----- */
.cta-discover{
  color: var(--white-text-page);
  text-align: center;
  padding: 2px 15px;
  font-size: var(--size-text-header-footer);
  border: 2px solid var(--white-text-page);
  border-radius: 40px;
}
.cta-add,  .cta-order{
  display: inline;
  color: var(--grey);
  padding: 5px 63.5px;
  font-size: 1.0625rem;
  border: 2px solid var(--grey);
  border-radius: 40px;
}
.popup__cta-add, .popup__cta-buy{
  color: var(--grey);
  background-color: #F2F2F2;
  padding: 5px 31.5px;
  font-size: 1.0625rem;
  border: 3px solid var(--grey);
  border-radius: 40px;
}
.cta-continue{
  background-color: #F2F2F2;
  color: var(--grey);
  padding: 5px 63.5px;
  font-size: 1.0625rem;
  border: 2px solid var(--grey);
  border-radius: 40px;
}
.cta-checkout{
  display: block;
  text-align: center;
  background-color: #eaeaea;
  color: var(--grey);
  padding: 1px 63.5px;
  font-size: 1.625rem;
  border: 3px solid var(--grey);
  border-radius: 40px;
}
.cta-order{
  color: var(--grey);
  background-color: rgba(16, 182, 16, 0.522);
  padding: 5px 63.5px;
  font-size: 1.0625rem;
  border: 2px solid var(--grey);
  border-radius: 40px;
}
.cta-sign-up{
  display: none;
  padding: 6px 45px;
  border-radius: 15px;
  border-style: none;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  top: 72%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: var(--grey);
}
.cta-send{
  color: var(--grey);
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  margin: 20px 0px;
  padding: 5px 65px;
  font-size: 1.0625rem;
  border: 2px solid var(--grey);
  border-radius: 40px;
}
.cta-send:hover{
  background-color: rgba(193, 188, 188, 0.429);
  border: 2px solid rgb(97, 97, 97);
  cursor: pointer;
}
.line{
  background-color: var(--grey);
  width: 100%;
  height: 7px;
  margin: var(--margin-page);
  width: calc(100% - 70px);
  border-radius: 80% ;
  opacity: 0.2;
}
.success-line-top{
  background-color: var(--grey);
  width: 100%;
  height: 7px;
  width: calc(100% - 70px);
  border-radius: 80% ;
  opacity: 0.2;
}
.btn-size{
  display: inline;
  color: var(--grey);
  padding: 5px 30px;
  font-size: 1.0625rem;
  border: 3px solid var(--grey);
  border-radius: 40px;
}
.btn-size:hover{
  background-color: rgba(162, 161, 161, 0.449);
  border: 4px solid var(--grey);
  cursor: pointer;
}
